<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.T4.storyTracks.dto.BlogPostDTO" alias="blogPost"></typeAlias>
        <typeAlias type="com.T4.storyTracks.board.dto.BlogImgDTO" alias="blogPostImg"></typeAlias>
    </typeAliases>
</configuration>